{% extends '::base.html.twig' %}

{% block container -%}
<div class="span6">
    <div class="containerHome" >
    
        
        
    {% endblock %}

{%block sideMenu %}

<ul class="nav nav-list">
    <li  class="active" class="nav-header" ><a  href="{{ path('uosuos_home')}}"><b>Home</b></a></li>

{% if role== 'SuperUser' %}     
    <li class="nav-header">UOS Halls</li>
    <li ><a  href="{{ path('hall')}}">View All </a></li>
    <li ><a href="{{ path('hall_new')}}">Add Hall</a></li>

    <li class="nav-header">UOS Rooms</li>
    <li ><a href="{{ path('room')}}">View All</a></li>
    <li><a href="{{ path('room_new')}}">Add Room</a></li>
    
    <li class="nav-header">UOS Student Management </li>
    <li ><a href="{{ path('student')}}">View All Students</a></li>
    <li><a href="{{ path('student_new')}}">Add Student</a></li>
    
    <li class="nav-header">UOS Employee Management </li>
    <li><a href="{{ path('employee')}}">Employee</a></li>
    <li><a href="{{ path('employee_new')}}">Add Employee</a></li>
    
    <li class="nav-header">UOS Managers </li>
    <li><a href="{{ path('users')}}">View Managers</a></li>
    <li><a href="{{ path('users_new')}}">Add Manager</a></li>
    
{% endif %}
    
{% if role== 'Manager' %}
    <li class="nav-header">UOS Student Accomodation </li>
    <li><a href="{{ path('occupy')}}">Accomodation</a></li>
    <li><a href="{{ path('occupy_new')}}">Check IN</a></li>
    <li><a href="{{ path('checkOut')}}">Check OUT</a></li>

    <li class="nav-header">UOS Employee Positining </li>
    <li><a href="{{ path('work')}}">Positions</a></li>
    <li><a href="{{ path('work_new')}}">Add Position</a></li>

    <li class="nav-header">UOS Finance Details </li>
    <li><a href="{{ path('finance')}}">Finance Details</a></li>
    <li><a href="{{ path('finance_new')}}">Make A New Payment</a></li>
{% endif %}
    
    <li class="nav-header">User Settings </li>
 {% if role== 'Student' %}   
    <li><a href="{{ path('student_edit', {'id' : stud_emp_id} ) }}">Edit Personal Infomation</a></li>
    <li><a href="{{ path('edit_info', {'id' : u_id} ) }}">View Payment Details</a></li>
 {% endif %}
 {% if role== 'Employee' %}   
    <li><a href="{{ path('employee_edit', {'id' : stud_emp_id} ) }}">Edit Personal Infomation</a></li>
 {% endif %}

    <li><a href="{{ path('users_edit', {'id' : u_id} ) }}">Change Password</a></li>
    
    
</ul>
{%endblock%}