{% extends '::base.html.twig' %}

{% block container -%}
<div class="span8">
    <div class="containerHome" >
   <h1>Employee list</h1>
<script src="assets/js/jquery.tablesorter.min.js"></script>
        <script >
            $(function() {
                $("table#sortTableExample").tablesorter({sortList: [[1, 0]]});
            });
        </script>
    

    <table class="table">
        <thead>
            <tr>
                <th>Employeeid</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Position</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': entity.id }) }}">{{ entity.employeeid }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.salary }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('employee_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('employee_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('employee_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
{%block sideMenu %}

<ul class="nav nav-list">
                <li class="nav-header"><b>Home</b></li>
              <li class="active"><a href="http://localhost:8080/uoshms/web/app_dev.php/home">Home</a></li>
              <li class="nav-header">UOS Halls</li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/hall">Halls</a></li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/hall/new">Add Hall</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">UOS Rooms</li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/room">Rooms</a></li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/room/new">Add Room</a></li>
              <li class="nav-header">UOS Student Management </li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/student">Students</a></li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/student/new">Add Student</a></li>
              <li class="nav-header">UOS Student Accomodation </li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/occupy">Accomodation</a></li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/occupy/new">Add Accomodation</a></li>
              <li class="nav-header">UOS Employee Management </li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/employee">Employee</a></li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/employee/new">Add Employee</a></li>
              <li class="nav-header">UOS Employee Positining </li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/work">Positions</a></li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/work/new">Add Position</a></li>
              <li class="nav-header">UOS Accounts </li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/finance">Account Details</a></li>
              <li><a href="http://localhost:8080/uoshms/web/app_dev.php/finance/new">Add Account</a></li>
              
            </ul>
{%endblock%}