{% extends '::base.html.twig' %}

{% block container -%}
        <div class="span10">
            <div class="containerHome" >
    <h1>Employee creation</h1>

    {% if error is defined%}
    
    <h2> {{error}}</h2>
    
    {%endif%}
    
    {{ form(form) }}
   <ul class="record_actions">
    <li class="nav-header">
        <a href="{{ path('employee') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
        {%block sideMenu %}

        <ul class="nav nav-list">
            <li  class="nav-header" ><b>Home</b></li>

            <li class="nav-header">UOS Halls</li>
            <li ><a  href="{{ path('hall')}}">View All </a></li>
            <li class="active"><a href="{{ path('hall_new')}}">Add Hall</a></li>

            <li class="nav-header">UOS Rooms</li>
            <li><a href="{{ path('room')}}">View All</a></li>
            <li><a href="{{ path('room_new')}}">Add Room</a></li>

            <li class="nav-header">UOS Student Management </li>
            <li><a href="{{ path('student')}}">View All Students</a></li>
            <li><a href="{{ path('student_new')}}">Add Student</a></li>

            <li class="nav-header">UOS Student Accomodation </li>
            <li><a href="{{ path('occupy')}}">Accomodation</a></li>
            <li><a href="{{ path('occupy_new')}}">Add Accomodation</a></li>

            <li class="nav-header">UOS Employee Management </li>
            <li><a href="{{ path('employee')}}">Employee</a></li>
            <li><a href="{{ path('employee_new')}}">Add Employee</a></li>

            <li class="nav-header">UOS Employee Positining </li>
            <li><a href="{{ path('work')}}">Positions</a></li>
            <li><a href="{{ path('work_new')}}">Add Position</a></li>

            <li class="nav-header">UOS Finance Details </li>
            <li><a href="{{ path('finance')}}">Finance Details</a></li>
            <li><a href="{{ path('finance_new')}}">Make A New Payment</a></li>

        </ul>
{%endblock%}